@model P.Models.MedicalRecord

@{
    ViewData["Title"] = "Add";
    Layout = "/Views/Shared/_AdminBodyLayout.cshtml";

}

<h1>Add</h1>

<h4>MedicalRecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MedRecAdd" asp-controller="AdminMedicalRecord">
            <div class="form-group">
                <label asp-for="PatientName" class="control-label"></label>
                <input asp-for="PatientName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PatientMedicalHistory" class="control-label"></label>
                <input asp-for="PatientMedicalHistory" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Medications" class="control-label"></label>
                <input asp-for="Medications" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Diagnosis" class="control-label"></label>
                <input asp-for="Diagnosis" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="TestResults" class="control-label"></label>
                <input asp-for="TestResults" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ProgressNotes" class="control-label"></label>
                <input asp-for="ProgressNotes" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="TreatmentPlans" class="control-label"></label>
                <input asp-for="TreatmentPlans" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="VitalSigns" class="control-label"></label>
                <input asp-for="VitalSigns" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="SurgicalReports" class="control-label"></label>
                <input asp-for="SurgicalReports" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DischargeSummaries" class="control-label"></label>
                <input asp-for="DischargeSummaries" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="genric-btn primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MedRecView" class="genric-btn info">Back to List</a>
</div>
