@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<div class="container">
    <h2>Hover Rows</h2>
    <p>The .table-hover class enables a hover state on table rows:</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var x in ViewBag.DocList)
            {
                <tr>
                    <td>@x.F_Name</td>
                    <td>@x.M_Name</td>
                    <td>@x.Salary</td>
                    <td> <a href="/Checkout/Index?id=@x.DId">PayNow</a></td>
                </tr>
            }


        </tbody>
    </table>
</div>

