@model Patient
@{
    ViewData["Title"] = "Edit";

    Layout = "/Views/Shared/_AdminBodyLayout.cshtml";
}
<h2>Edit Patient</h2>


<form asp-action="SaveEdit" asp-controller="AdminPatient" asp-route-id="@Model.PId">

        <input type="hidden" asp-for="PId" />

    <div>
        <label asp-for="F_Name"></label>
        <input asp-for="F_Name" class="form-control" />
       
    </div>
    <div>
        <label asp-for="L_Name"></label>
        <input asp-for="L_Name" class="form-control" />
        
    </div>
    <div>
        <label asp-for="Age"></label>
        <input asp-for="Age" class="form-control" />
   
    </div>
    <div>
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        
    </div>
       <div>
           <label asp-for="RoomId" class="control-label">Room</label>
           <select asp-for="RoomId">
               @foreach (Room item in ViewBag.RoomList)
               {
                   <option value="@item.RoomId">@item.RoomName</option>
               }
           </select>
        
       </div>
    <div>
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="form-control" />
       
    </div>

    <div>
    <input type="submit" value="Save" class=" btn btn-success"/>
    </div>
    <div>
        <a class="btn btn- btn btn-success" asp-action="Index">
            Back
        </a>


    </div>
</form>